@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
  font-family: 'Comfortaa light';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(/font/Comfortaa-Light.ttf) format("opentype");
}
@font-face {
  font-family: 'GenJyuuGothicBold';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(/font/GenJyuuGothicBold.ttf) format("opentype");
}
.logo {
    position: fixed;
    right: 50%;
    margin-right:-95px;
    margin-top:-95px;
    width: 180px;
    transition: ease 0.4s;
}
.logo-to {
    position: fixed;
    margin-right:0px;
    margin-top:0px;
    width: 60px;
    top: 2%;
    right: 2rem;
}
.topbgtxt-to {
/*    display: flex;*/
    -webkit-animation: topfadeOut 0.5s;
    animation: topfadeOut 0.5s;
    -webkit-animation-iteration-count:  1;
    animation-iteration-count:  1;
    animation-delay: 0.5s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}
.logotxt-to {
    -webkit-animation: fadeOut 0.5s;
    animation: fadeOut 0.5s;
    -webkit-animation-iteration-count:  1;
    animation-iteration-count:  1;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}
@keyframes topfadeOut {
   0% {opacity: 0;}
   100% {opacity: 1;} 
} 
@keyframes fadeOut {
   0% {opacity: 1;}
   100% {opacity: 0;} 
} 
.line-to {
    display: none;
}
.divideline{
    -webkit-animation: line 2s cubic-bezier(.19,1,.22,1) 0s infinite;
    animation: line 2s cubic-bezier(.19,1,.22,1) 0s infinite;
/*    background: linear-gradient(0deg,#0B732F,#003A45);*/
    background: linear-gradient(0deg,#fff,#fff);
    transform: translateY(-50%);
    width: 1px;
}
@keyframes line {
    0% {
        -webkit-clip-path: inset(0 0 100% 0);
        clip-path: inset(0 0 100% 0);
    }

    25% {
        -webkit-clip-path: inset(0 0 0 0);
        clip-path: inset(0 0 0 0);
    }
    75% {
        -webkit-clip-path: inset(0 0 0 0);
        clip-path: inset(0 0 0 0);
    }
    100% {
        -webkit-clip-path: inset(100% 0 0 0);
        clip-path: inset(100% 0 0 0);
    }
}
.top_animate {
    background-color: #CAD227;
    animation: ta 16s ease-out infinite;
}
@keyframes ta{
    0%{
        opacity: 0.8;
        transform: translate(0,0);
    }
    10%{
        opacity: 0.9;
        animation-delay: 0.02s;
        transform: translate(45px,0px);
    }
    20%{
        opacity: 0.8;
        animation-delay: 0.01s;
        transform: translate(150px,70px);
    }
    30%{
        opacity: 0.8;
        animation-delay: 0.01s;
        transform: translate(-300px,-50px);
    }
    40%{
        opacity: 0.9;
        animation-delay: 0.15s;
        transform: translate(-125px,70px);
    }
    50%{
        opacity: 0.9;
        animation-delay: 0.025s;
        transform: translate(-300px,-200px);
    }
    60%{
        opacity: 0.8;
        animation-delay: 0.03s;
        transform: translate(70px,-400px);
    }
    70%{
        opacity: 1;
        animation-delay: 0.05s;
        transform: translate(120px,-75px);
    }
    80%{
        opacity: 0.8;
        animation-delay: 0.025s;
        transform: translate(50px,-75px);
    }
    90%{
        opacity: 0.9;
        animation-delay: 0.03s;
        transform: translate(-75px,-75px);
    }
    100%{
        opacity: 0.8;
        transform: translate(0,0);
    }
}
.right_animate {
    background-color: #D91A77;
    animation: ra 16s ease-out infinite;
}
@keyframes ra{
    0%{
        opacity: 0.6;
        transform: translate(0,0);
    }
    25%{
        opacity: 0.7;
        animation-delay: 0.15s;
        transform: translate(70px,50px);
    }
    30%{
        opacity: 0.6;
        animation-delay: 0.1s;
        transform: translate(250px,-90px);
    }
    40%{
        opacity: 0.9;
        animation-delay: 0.05s;
        transform: translate(400px,-160px);
    }
    55%{
        opacity: 0.9;
        animation-delay: 0.05s;
        transform: translate(350px,-320px);
    }
    75%{
        opacity: 0.8;
        animation-delay: 0.025s;
        transform: translate(100px,-200px);
    }
    85%{
        opacity: 0.6;
        animation-delay: 0.05s;
        transform: translate(-60px,-150px);
    }
    100%{
        opacity: 0.6;
        transform: translate(0,0);
    }
}
.left_animate {
    background-color: #D91A77;
    animation: la 16s ease-out infinite;
}
@keyframes la{
    0%{
        opacity: 0.6;
        transform: translate(0,0);
    }
    25%{
        opacity: 0.7;
        animation-delay: 0.15s;
        transform: translate(-70px,50px);
    }
    30%{
        opacity: 0.6;
        animation-delay: 0.1s;
        transform: translate(-150px,90px);
    }
    55%{
        opacity: 0.9;
        animation-delay: 0.05s;
        transform: translate(-300px,220px);
    }
    75%{
        opacity: 0.8;
        animation-delay: 0.025s;
        transform: translate(-100px,200px);
    }
    85%{
        opacity: 0.6;
        animation-delay: 0.05s;
        transform: translate(120px,150px);
    }
    100%{
        opacity: 0.7;
        transform: translate(0,0);
    }
}
@keyframes text-flicker-out-glow {
  0% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.6),
      0 0 60px rgba(255, 255, 255, 0.45), 0 0 110px rgba(255, 255, 255, 0.25),
      0 0 100px rgba(255, 255, 255, 0.1);
  }
  13.9% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.6),
      0 0 60px rgba(255, 255, 255, 0.45), 0 0 110px rgba(255, 255, 255, 0.25),
      0 0 100px rgba(255, 255, 255, 0.1);
  }
  14% {
    opacity: 0.2;
    text-shadow: none;
  }
  14.9% {
    opacity: 0.2;
    text-shadow: none;
  }
  15% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.55),
      0 0 60px rgba(255, 255, 255, 0.4), 0 0 110px rgba(255, 255, 255, 0.2),
      0 0 100px rgba(255, 255, 255, 0.1);
  }
  22.9% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.55),
      0 0 60px rgba(255, 255, 255, 0.4), 0 0 110px rgba(255, 255, 255, 0.2),
      0 0 100px rgba(255, 255, 255, 0.1);
  }
  23% {
    opacity: 0.2;
    text-shadow: none;
  }
  24.9% {
    opacity: 0.2;
    text-shadow: none;
  }
  25% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.55),
      0 0 60px rgba(255, 255, 255, 0.35), 0 0 100px rgba(255, 255, 255, 0.1);
  }
  34.9% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.55),
      0 0 60px rgba(255, 255, 255, 0.35), 0 0 100px rgba(255, 255, 255, 0.1);
  }
  35% {
    opacity: 0.2;
    text-shadow: none;
  }
  39.9% {
    opacity: 0.2;
    text-shadow: none;
  }
  40% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.55),
      0 0 60px rgba(255, 255, 255, 0.35);
  }
  42.9% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.55),
      0 0 60px rgba(255, 255, 255, 0.35);
  }
  43% {
    opacity: 0.2;
    text-shadow: none;
  }
  44.9% {
    opacity: 0.2;
    text-shadow: none;
  }
  45% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.45),
      0 0 60px rgba(255, 255, 255, 0.25);
  }
  50% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.45),
      0 0 60px rgba(255, 255, 255, 0.25);
  }
  54.9% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.45),
      0 0 60px rgba(255, 255, 255, 0.25);
  }
  55% {
    opacity: 0.2;
    text-shadow: none;
  }
  69.4% {
    opacity: 0.2;
    text-shadow: none;
  }
  69.5% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.45),
      0 0 60px rgba(255, 255, 255, 0.25);
  }
  69.9% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.45),
      0 0 60px rgba(255, 255, 255, 0.25);
  }
  70% {
    opacity: 0.2;
    text-shadow: none;
  }
  79.4% {
    opacity: 0.2;
    text-shadow: none;
  }
  79.9% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.25);
  }
  80% {
    opacity: 0.2;
    text-shadow: none;
  }
  89.8% {
    opacity: 0.2;
    text-shadow: none;
  }
  89.9% {
    opacity: 1;
    text-shadow: none;
  }
  90% {
    opacity: 0.2;
    text-shadow: none;
  }
  100% {
    opacity: 0.2;
  }
}
/*.shiny {
    -webkit-animation: text-flicker-out-glow 4s linear infinite both;
    animation: text-flicker-out-glow 4s linear infinite both;
}*/
/*.text{
  color:#fff;
}
.dud{
  color:#fff;
  opacity: 0.2;
}*/
@media screen and (min-width: 767px) {
    .logo {
        top: 50%;
    }
    .logo-to {
        position: fixed;
        margin-right:0px;
        margin-top:0px;
        width: 60px;
        top: 2%;
        right: 2rem;
    }
}
@media screen and (max-width: 766px) {
    .logo {
        top: 45%;
    }
    .logo-to {
        position: fixed;
        margin-right:0px;
        margin-top:0px;
        width: 60px;
        top: 8%;
        right: 2rem;
    }
}

.blurtext {
  position: relative;
  width: 35px;
/*  text-align: center;
  height: 10px;*/
  line-height: 1.9rem !important;
  color: #fff;
}
.blurtext span {
  position: absolute;
  display: block;
/*  background-color: red;*/
  width: 100%;
  text-align: center;
  opacity: 0;
  line-height: 1.9rem !important;
  transform: perspective(100px) translateZ(10px);
  filter: blur(10px);
/*  letter-spacing: 0.1em;*/
}
.blurtext span.active {
  opacity: 1;
  transform: perspective(100px) translateZ(0px);
  filter: blur(0px);
  line-height: 1.9rem !important;
/*  letter-spacing: 0.15em;*/
  transition: opacity 1000ms linear, transform 1000ms linear, filter 400ms linear, letter-spacing 1000ms linear;
}
.blurtext span.past {
  opacity: 0;
  transform: perspective(100px) translateZ(-10px);
  filter: blur(10px);
  line-height: 1.9rem !important;
/*  letter-spacing: 0.2em;*/
  transition: opacity 1000ms linear, transform 1000ms linear, filter 400ms linear, letter-spacing 1000ms linear;
}

/*.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
}*/

.sig {
  position: fixed;
  bottom: 5px;
  right: 5px;
/*  text-decoration: none;*/
  color: #fff;
  opacity: 0.2;
}


